/* FUNZIONALITÀ */
:root{
    --bgc-header: var(--dark-blue);
    --bgc-footer: var(--bgc-header);
    --bgc-jumbo: var(--color-primary);
    --color-primary: #1abc9c;
    --color-secondary: #fff;
    --dark-blue: #2c3e50;
    --light-blue: #3a546d;
    /* font-size link header da classi di boostrap */
    --bs-nav-link-font-size: 0.8rem;
}

body{
    color: white;
}

/* HEADER */
header{
    background-color: var(--bgc-header);
}

/* SFONDO SEZIONI */
section:nth-of-type(odd):not(:last-of-type){
    background-color: var(--color-primary);
}

footer section{
    background-color: var(--light-blue);
}

/* MAIN */
.cards div[class^="col-"]{
    background-color: var(--dark-blue);
}

.rounded-img{
    height: 250px;
}

.bars{
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    margin: 0 20px;
}
/* FOOTER */
footer{
    background-color: var(--bgc-footer);
}